*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

.desenvolvedores-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.desenvolvedores-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.angelim-card {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
   position: relative;
    border-radius: 5px;
    padding: 1rem;
    isolation: isolate;
}

.angelim-card::before {
    background-image: url('../assets/BG-gui.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
    z-index: -1; /* Coloca a sobreposição atrás do conteúdo */
}
 .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 1rem;
    color: aliceblue;
}

.conteudo span {
    color: blueviolet;
}

.nav-icones{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icones ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-icones ul li{
    list-style: none;
}

.nav-icones ul li a {
    color: aliceblue;
    text-decoration: none;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.angelim-card img{
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.gif {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}