@font-face {
    font-family: 'Kodchasan';
    src: url("./fonts/Kodchasan-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Abang";
    src: url("./fonts/Abang.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 135px;
    font-family: Abang;
    color: #fff;
    font-size: 3rem;
}
main {
    margin-top: 160px;
    border-top: 5px solid #4C1B4D;
}
main * {
    font-family: "Kodchasan";
}
.orientador-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-bottom: 5px solid #4C1B4D;
    margin-bottom: 50px;
}
.orientador-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 750px;
}
.orientador-icone {
    width: 100%;
}
.orientador-text {
    color: #fff;
}
.orientador-container h2 {
    color: #C967FF70;
}
.orientador-container p {
    display: inline-block;
    font-size: .9rem;
    max-width: 490px;
    text-align: justify;
}
.social-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    max-width: 300px;
}
.social-links a img {
    width: 50px;
    transition: .1s ease;
}
.social-links a:hover img {
    transform: scale(1.05);
}

/* CONTAINER PRINCIPAL */
.desenvolvedores-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 100px;
    padding: 20px;
}

/* CARD */
.dev-card {
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    border-radius: 30px;
    padding: 2rem;
    overflow: hidden;
}

/* BACKGROUND */
.dev-card::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
}

#gui::before {
    background: url('../assets/BG-gui.svg') center/cover no-repeat;
}

#henry::before {
    background: url('../assets/BG-henry.svg') center/cover no-repeat;
}

#tirso::before {
    background: url('../assets/BG-tirso.svg') center/cover no-repeat;
}

#santaella::before {
    background: url('../assets/BG-santaella.svg') center/cover no-repeat;
}

#prefeito::before {
    background: url('../assets/prefeito-bg.svg') center/cover no-repeat;
}

/* FOTO */
.foto-dev {
    width: 100%;
    max-width: 250px;
    height: auto;
    transform: scale(1.2);
}

/* CONTEÚDO */
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 500px;
    gap: 1rem;
    color: aliceblue;
}

.conteudo span {
    color: rgb(213, 51, 253);
}

/* TEXTO */
.text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* ÍCONES */
.nav-icones {
    border-radius: 5px;
    padding: 10px;
}

.nav-icones ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.icons {
    width: 30px;
    height: 30px;
    transition: .1s ease;
}
.icons:hover {
    transform: scale(1.05);
}

/* GIF */
.gif {
    width: 100%;
    max-width: 200px;
    height: auto;
}

/* RESPONSIVIDADE */

@media (max-width: 768px) {
    .title {
        font-size: 1.3rem;
        top: 110px;
    }
    main {
        margin-top: 120px;
        border-top: 3px solid #4C1B4D;
    }
    .orientador-container {
        padding: 30px 0;
        border-bottom: 3px solid #4C1B4D;
        margin-bottom: 30px;
    }
    .orientador-icone {
        max-width: 500px;
    }
    .orientador-container h1 {
        font-size: 1.5rem;
    }
    .orientador-container h2 {
        font-size: 1.2rem;
        color: #C967FF70;
    }
    .orientador-container p {
        font-size: .8rem;
        max-width: 250px;
    }
    .social-links {
        max-width: 150px;
    }
    .social-links a img {
        width: 40px;
    }

    .dev-card {
        flex-direction: column;
        text-align: center;
    }
    .dev-card h1 {
        font-size: 1.5rem;
    }
    .dev-card h2 {
        font-size: 1.2rem;
    }
    .dev-card p {
        font-size: .8rem;
    }
    .foto-dev {
        max-width: 200px;
    }
    .gif {
        max-width: 180px;
    }
}