main {
    margin-bottom: 100px;
}
.slideshow {
    position: relative;
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
}
.slideshow-images {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 600px;
}
.slideshow-images::-webkit-scrollbar {
    display: none;
}
.slideshow-images span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-size: 30px;
    min-width: 100%;
}
.slideshow-bar {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.slideshow-counter {
    display: flex;
    gap: 1rem;
}
.slideshow-counter span {
    background: #3C096C;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.slideshow-counter span.selected {
    background: #E0AAFF;
}
.slideshow-progress {
    display: flex;
    position: relative;
    width: 60%;
    height: 15px;
    border-width: 5px 15px;
    border-style: solid;
    border-color: #3C096C;
    border-radius: 8px;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}
.slideshow-progress span {
    display: inline-block;
    position: absolute;
    height: 100%;
    background: #E0AAFF;
    border-radius: 15px;
    z-index: 1;
}
.selected-game {
    display: none; /* flex */
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
#logoGame {
    width: 30%;
}
.selected-game article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    border: 5px solid #640AFF50;
    margin-top: 50px;
}
.game-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.game-link img {
    height: 200px;
    transition: .2s ease;
}
.game-link:hover img {
    transform: scale(110%);
}
.game-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 75px;
    width: 100%;
    height: 100%;
}
#descGame {
    max-width: 900px;
    text-align: justify;
    color: #fff;
}

@media(max-width: 1024px) {
    .slideshow, .slideshow-images {
        height: 425px;
    }
    .selected-game {
        margin-top: 50px;
    }
    #logoGame {
        width: 35%;
    }
    .game-link img {
        height: 125px;
    }
    .game-content {
        padding: 30px 50px;
    }
    #descGame {
        font-size: .8rem;
    }
}
@media(max-width: 480px) {
    .slideshow {
        height: 300px;
        margin-bottom: 50px;
    }
    .slideshow-images {
        height: 300px;
    }
    .slideshow-bar {
        gap: .75rem;
    }
    .slideshow-counter {
        gap: .5rem;
    }
    .slideshow-counter span {
        width: 20px;
        height: 20px;
    }
    .selected-game {
        margin-top: 20px;
    }
    #logoGame {
        width: 50%;
    }
    .game-link img {
        height: 100px;
    }
    .game-content {
        padding: 20px 30px;
    }
    #descGame {
        font-size: .6rem;
    }
}