@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@font-face {
    font-family: "Abang";
    src: url("./fonts/Abang.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bg: #1e1326;
    --box: #2d2d2d;
    --txt: #1c1c1c;
    --font: #fff;

}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--bg);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 200px;
    opacity: 20%;
}
.title {
    position: absolute;
    width: 350px;
}
main {
    width: 100%;
    max-width: 1100px;
    background: var(--box);
    border-radius: 20px;
    padding: 25px;
    margin: 20px;
}
h2 {
    font-family: Michroma;
    color: var(--font);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.login-data {
    width: 80%;
}
.login-data div{
    display: flex;
    background-color: var(--txt);
    padding: 15px 25px;
    border-radius: 100px;
    margin-top: 30px;
}

.login-data div input{
    background-color: transparent;
    border: none;
    width: 100%;
    margin-left: 15px;
    font-size: .9rem;
    color: var(--font);
    outline: none;
}

.login-data div img{
    width: 2.2rem;
}
.btn-cancelar {
    display: flex;
    background: none;
    border: none;
    transition: .5s;
    opacity: 0;
}
.btn-cancelar span {
    display: inline-block;
    background: #fff;
    width: 3px;
    height: 30px;
    border-radius: 2px;
}
.btn-cancelar span:first-child {
    transform:rotate(45deg) translateX(2px);
}
.btn-cancelar span:last-child {
    transform:rotate(-45deg) translateX(-2px);
}
.btn-cancelar.on {
    opacity: 1;
}
.lembrar-data{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
    padding: 0px 30px;
}

.lembrar-data * {
    color: #fff;
    font-family: Inter;
    font-size: 0.9rem;
}
.lembrar-data a{
    text-decoration: none;
    transition: .3s;
}
.lembrar-data a:hover{
    color: #944fcf;
}
.fazer-login {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
}
#btnEntrar {
    width: 60%;
    height: 60px;
    border-radius: 20px;
    font-size: 2rem;
    font-family: Abang;
    background: linear-gradient(to right, #944fcf, #733f9d, #432060);
    background-position: left;
    background-size: 125%;
    color: #fff;
    border: none;
    transition: .3s;
}
#btnEntrar:hover {
    transform: scale(105%);
    background-position: right;
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}
footer img {
    width: 35px;
    margin-right: 10px;
}
h6 {
    color: #fff;
    font-size: 1rem;
    font-family: Abang;
}
@media(max-width: 768px) {
    .logo {
        width: 100px;
    }
    .title {
        width: 250px;
    }
    h2 {
        font-size: 1.2rem;
    }
    .login-data {
        width: 100%;
    }
    .login-data div {
        padding: 10px 15px;
    }
    .login-data div img{
        width: 1.5rem;
    }
    .login-data div input{
        font-size: .75rem;
    }
    .lembrar-data {
        width: 100%;
        padding: 0 10px;
    }
    .lembrar-data * {
        font-size: .7rem;
    }
    .fazer-login {
        width: 100%;
    }
    #btnEntrar {
        width: 80%;
        height: 40px;
        font-size: 1.2rem;
    }
    footer {
        margin-bottom: 5px;
    }
    footer img {
        width: 30px;
    }
    h6 {
        font-size: .9rem;
    }
}