@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
@font-face {
    font-family: zing-rust-demo-base;
    src: url(../css/fonts/zing.rust-demo-base.otf);
}

@property --bg-height { /* Definições de uma variável */
    syntax: "<percentage>"; /* É, exclusivamente, uma porcentagem */
    inherits: false; /* Define se a variável é herdada. Costuma-se usar false para animações */
    initial-value: 0%; /* Valor inicial da variável */
}


/* Definindo variáveis CSS de acordo com a página */
body.sonic {
    --border: #0C35FF;
    --bg-gradient: #181E3E;
    --text-color: #005BAA;
    --text-contrast: #00213E;
}
body.shadow {
    --border: #FF0C0C;
    --bg-gradient: #361414;
    --text-color: #1F1F1F;
    --text-contrast: #BD0000;
}
body.silver {
    --border: #0CD2FF;
    --bg-gradient: #11282B;
    --text-color: #E6E6E6;
    --text-contrast: #00CFD6;
}
body.knuckles {
    --border: #870000;
    --bg-gradient: #280F0F;
    --text-color: #D20B0B;
    --text-contrast: #500000;
}
body.tails {
    --border: #F6FF00;
    --bg-gradient: #292310;
    --text-color: #FEAF00;
    --text-contrast: #795300;
}
body.nero {
    --border: #4B60CD;
    --bg-gradient: #101323;
    --text-color: #4B60CD;
    --text-contrast: #00213E;
}
body.dante {
    --border: #9E1212;
    --bg-gradient: #481010;
    --text-color: #960101;
    --text-contrast: #500000;
}
body.vergil {
    --border: #B7FDFF;
    --bg-gradient: #242B2B;
    --text-color: #a7F2FF;
    --text-contrast: #00213E;
}
body.samuel {
    --border: #426241;
    --bg-gradient: #1D241C;
    --text-color: #4C7F4B;
    --text-contrast: #182F17;
}
body.armstrong {
    --border: #7E7A6B;
    --bg-gradient: #25241F;
    --text-color: #765c49;
    --text-contrast: #321d0d;
}
body.raiden {
    --border: #404141;
    --bg-gradient: #282828;
    --text-color: #6D6D6D;
    --text-contrast: #1F1E1E;
}

header {
    z-index: 3;
}
.inicio {
    display: flex;
    justify-content: center;
    height: 90vh;
    border-bottom: 10px solid var(--border);
    background: linear-gradient(to top, var(--bg-gradient), #111 var(--bg-height));
    animation: open-bg 1s forwards; /* Com forwards, elemento permanece no último frame da animação */
}
.character-banner-image {
    position: absolute;
    height: 110vh;
    top: 60px;
    animation: open-character 1s forwards;
}
#btnSair {
    position: absolute;
    top: 100px;
    left: 25px;
}
#btnSair img {
    width: 50px;
    transition: .1s ease;
}
#btnSair:hover img {
    transform: scale(1.05);
}
.character-logo {
    position: absolute;
    top: 80vh;
    width: 400px;
    z-index: 2;
}
.character-logo.big {
    width: 600px;
    top: 71vh;
}
.character-logo.spacing {
    top: 65vh;
}
.divider {
    height: 10px;
    width: 100%;
    background: var(--border);
    position: relative;
    top: 100%;
}
main {
    background: #1a1a1a;
    position: relative;
    z-index: 1;
    padding: 125px 25px;
    margin-top: 0;
}
.character-icon.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    z-index: -1;
}
.character-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 100px;
}
.title-text {
    display: flex;
    align-items: center;
}
.title-text img {
    width: 150px;
    margin-right: 20px;
}
h2 {
    font-family: zing-rust-demo-base;
    color: var(--text-color);
    font-size: 50px;
    font-weight: 900;
    -webkit-text-stroke: .01px var(--text-contrast);
}
.character-desc p {
    font-family: lexend;
    color: #fff;
    max-width: 600px;
    text-align: center;
}
.text-with-image {
    display: flex;
    position: relative
}
.text-part {
    max-width: 70%;
}
.title-part {
    display: flex;
    align-items: center;
    height: 150px;
}
.title-part.spacing h3 {
    margin-left: 75px;
}
.topic-title-image {
    position: absolute;
    z-index: -1;
    height: 100px;
}
h3 {
    font-family: zing-rust-demo-base;
    color: var(--text-color);
    font-size: 40px;
    font-weight: 900;
    margin-left: 35px;
    -webkit-text-stroke: .01px var(--text-contrast);
}
article p {
    margin-left: 50px;
    color: #fff;
    font-family: lexend;
    font-size: 15px;
    margin-bottom: 20px;
}
article li {
    margin-left: 75px;
    color: #fff;
    font-family: lexend;
    font-size: 15px;
    margin-bottom: 25px;
}
.character-image {
    position: absolute;
    right: -5%;
    height: 100%;
}
.character-image.right {
    right: -20%;
}
.character-image.no-spacing {
    right: 0;
}
.list-with-image {
    display: flex;
    align-items: center;
    position: relative;
}
.list-with-image ul {
    width: 70%;
}
.character-image-list {
    position: absolute;
    right: 0;
    min-height: 400px;
    height: 100%;
}
.character-image-list.right {
    right: -5%;
}
.character-center-image {
    width: 100%;
    display: flex;
    justify-content: center;
}
.character-center-image img {
    max-height: 800px;
    max-width: 500px;
    margin: 30px 0;
}
.character-center-image.big img {
    max-width: 1000px;
}
.center-list {
    text-align: center;
}
.center-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px
}
.center-title h3 {
    margin-bottom: 20px;
}
.center-title ul {
    max-width: 1000px;
}
.center-title li {
    margin-left: 0;
}
.carrossel-section {
    width: 100%;
    display: flex;
    justify-content: center;
}
.carrossel {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
@keyframes open-bg {
    0% {
        --bg-height: 0%;
    }
    100% {
        --bg-height: 50%;
    }
}
@keyframes open-character {
    0% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 1024px) {
    main {
        padding: 100px 10px;
    }
    .character-logo {
        width: 300px;
    }
    .character-logo.big {
        width: 450px;
        top: 75vh;
    }
    .title-text img {
        width: 100px;
    }
    h2 {
        font-size: 40px;
    }
    .character-desc p {
        font-size: .8rem;
    }
    .title-part  {
        height: 100px;
    }
    .topic-title-image {
        height: 75px;
    }
    h3 {
        font-size: 30px;
        margin-left: 25px;
    }
    article p {
        margin-left: 35px;
        font-size: .75rem;
    }
    article li {
        margin-left: 50px;
        font-size: .75rem;
    }
    .character-image {
        height: 85%;
    }
    .character-image-list {
        height: 75%;
        right: -10%;
    }
    .character-image.no-spacing {
        right: 0;
    }
    .list-with-image ul {
        width: 50%;
    }
    .character-center-image img {
        max-height: 600px;
        max-width: 375px;
    }
}
@media(max-width: 768px) {
    .inicio {
        height: 60vh;
    }
    .character-banner-image {
        height: 50vh;
        top: 100px;
    }
    #btnSair img {
        width: 30px;
    }
    .character-logo {
        width: 200px;
        top: 54vh;
    }
    .character-logo.big {
        width: 300px;
        top: 50vh;
    }
    h2 {
        font-size: 1.4rem;
    }
    .character-icon.center {
        width: 200px;
    }
    .character-desc {
        margin-bottom: 50px;
    }
    .character-desc p {
        font-size: .6rem;
    }
    .text-part {
        max-width: 50%;
    }
    .title-text img {
        width: 60px;
    }
    .topic-title-image {
        height: 50px;
    }
    h3 {
        font-size: 25px;
        margin-left: 15px;
        min-width: 100vw;
    }
    article p {
        font-size: .6rem;
        margin-left: 20px;
    }
    article li {
        font-size: .6rem;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .character-image {
        height: 35%;
        right: -10%;
        top: 15%;
    }
    .character-image.right {
        right: -20%;
    }
    .character-image.no-spacing {
        right: 0;
    }
    .character-image-list {
        min-height: 200px;
        right: -10%;
    }
    .character-center-image img {
        max-width: 400px;
        max-height: 250px;
    }
}