@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

:root {
    --primary: #10002B;
    --secondary: #240046;
    --bg: #1A1A1A;
}

body {
    font-family: Inter;
    background: var(--bg);
    overflow-x: hidden;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    padding: 0 20px;
    width: 100%;
    height: 64px;
}
.logo img {
    width: 50px;
}
.barra-pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 20px;
    min-width: 200px;
    width: 50%;
    height: 40px;
}
.barra-pesquisa input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    margin-right: 20px;
    font-size: 0.95rem;
    outline: none;
}
.img-pesquisa {
    height: 30px;
    border-left: 1px solid #1f1f1f;
    padding-left: 20px;
}
.link-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #000;
    border: 2px solid #eee;
    border-radius: 50%;
}
.link-perfil img {
    width: 30px;
}
nav {
    background: #24004660;
    padding: 5px 10rem;
    border-radius: 0 0 20px 20px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    transition: .3s;
}
nav ul li a:hover {
    text-decoration: underline;
    transform: scale(105%);
}
main {
    padding: 50px 25px;
    margin-top: 75px;
}
.carrossel {
    display: flex;
    align-items: center;
    position: relative;
}
.carrossel-list {
    display: flex;
    overflow-x: scroll;
    pointer-events: none;
    width: 100%;
    gap: 2rem;
    margin: 0 37.5px;
}
.carrossel-list::-webkit-scrollbar {
    display: none;
}
.carrossel-item {
    flex: 0 0 calc((100% - 4rem) / 3);
    height: 275px;
    background: #fff;
    border-radius: 100px;
}
.carrossel button {
    position: absolute;
    background: none;
    border: none;
}
.carrossel button img {
    width: 75px;
}
#btnNext {
    transform: scaleX(-1);
    right: 0;
}
.musica {
    display: flex;
    align-items: center;
    position: fixed;
    height: 100px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    z-index: 1;
}
.musica-info {
    position: absolute;
    display: flex;
    align-items: center;
}
.info-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: .5rem;
}
.info-text h2 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    font-family: Inter;
}
.info-text h3 {
    font-size: .8rem;
    font-weight: 400;
    color: #aaa;
    font-family: Inter;
}
#albumImg {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 5px;
}
.musica article {
    display: flex;
    align-items: center;
    background: var(--secondary);
    flex: 1;
    padding: 7.5px;
    height: 75px;
    border-radius: 50px;
}
.control-music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}
.control-buttons {
    display: flex;
    gap: 1rem;
}
.musica button {
    background: none;
    border: none;
}
.musica button:hover {
    transform: scale(105%);
}
.musica button:active {
    transform: scale(100%);
}
.musica button img {
    width: 20px;
}
#btnPlay img {
    width: 25px;
}
.time-music {
    display: flex;
    align-items: center;
    height: 15px;
    width: 50%;
}
.time-music div {
    display: flex;
    align-items: center;
    width: 100%;
}
.time-music h5 {
    margin: 0 10px;
    color: #aaa;
    font-weight: 500;
    font-style: italic;
}
.time-ball {
    display: none;
    position: relative;
    width: 15px;
    height: 15px;
    z-index: 2;
    background: #E0A7FF;
    border-radius: 50%;
    pointer-events: none;
}
.timeline {
    width: 100%;
    height: 7.5px;
    border-radius: 5px;
    border: 2px solid #1f1f1f;
    background: #fff;
    cursor: pointer;
}
.current-time {
    position: absolute;
    display: inline-block;
    height: 5px;
    border-radius: 2px;
    background: #E0A7FF;
}
.time-music.hover .time-ball {
    display: inline-block;
}
.time-music.hover .current-time {
    background: #7B2CBF;
}
#btnReplay {
    width: 30px;
    height: 30px;
}
#btnReplay img {
    width: 30px;
    height: 30px;
}